#button {
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 0;
  display: inline-block;
  position: relative;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  font-family: 'RobotoDraft','Roboto',arial,sans-serif;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background: transparent;
}

.button-content {
  outline: none;
}

.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-right: .8em;
}

/*
 * Dark Theme
 */
.theme-dark {
  background: #da4336;
  color: #ffffff;
  border: 1px solid transparent;
}

.theme-dark.signedIn-true{
  background: #999;
  border: 1px solid #888;
}

/*
 * Light Theme
 */
.theme-light {
  background: #fff;
  color: #737373;
  border: 1px solid #d9d9d9;
}

.theme-light.signedIn-true {
  background: #c0c0c0;
  color: #fff;
  border: #888 1px solid;
}

.theme-light.brand-google {
    background: #fff;
    color: #737373;
    border: 1px solid #d9d9d9;
}
/*
 * Icon Only Width
 */
.width-iconOnly .buttonText {
  display: none;
}

/*
 * Tall Height
 */
.height-tall .buttonText {
  font-size: 15px;
  font-weight: 700;
}

.height-tall .icon {
  width: 46px;
  height: 46px;
}

/*
 * Short Height
 */
.height-short .buttonText {
  font-size: 11px;
}

.height-short .icon {
  width: 16px;
  height: 16px;
}

.height-tall{
  height: 46px !important;
}

.height-short{
  height: 16px !important;
}

.height-standard{
  height: 30px !important;
}

.height-standard .icon{
  height: 30px;
  width: 30px;
}
/*
 * Branding
 */

/* Google Scopes */

/* Dark Theme */
.brand-google.theme-dark {
  background: #4184F3;
  color: #fff;
  border: 1px solid #3266d5;
}

.brand-google.theme-dark .icon {
  background: #fff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.brand-google.theme-dark.width-iconOnly .icon {
  border-radius: 2px;
}

.brand-google.theme-dark .buttonText {
  padding-left: .8em;
}

.brand-google.theme-light .icon {
  color: #4184F3;
}

.brand-google.theme-light.signedIn-true.icon {
  color: #fff;
}

.brand-google-plus.theme-dark {
  background: #da4336;
  color: #fff;
  border: 1px solid transparent;
}

.brand-google-plus.theme-dark .icon{
  background: #fff;
}

/* Light Theme */
.brand-google-plus.theme-light {
  background: #fff;
  color: #737373;
  border: 1px solid #d9d9d9;
}

.brand-google-plus.theme-light .icon {
  color: #e74b37;
}
